body {
  background-color: rgba(25, 5, 0, 1);
}

p {
    color:rgba(230, 255, 220, 1);
}

#logo {
    position: absolute;
    top: 40%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 40vh;
}

#CSHeading {
  position: absolute;
  color:rgba(230, 255, 220, 1);
  font-size: 8vh;
  margin: 0;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  font-family: 'Kalam', cursive;
}

#linkbar{
  position: absolute;
  left: 50%;
  top: 78%;
  margin: 0;
  transform: translate(-50%, -50%);
}
#otherProj {
  position: absolute;
  left: 50%;
  top: 86%;
  margin: 0;
  transform: translate(-50%, -50%);
  font-size: 3vh;
  font-family: 'Kalam', cursive;
}

a {
    text-decoration: none;

}
a:link, a:visited, a:hover, a:active {
  color: rgba(230, 255, 220, 1);
}

.links{
  position: relative;
  padding: 2vh;
  height: 5vh;
}




@font-face {
font-family: "knewave";
src: url("fonts/knewave-master/knewave.ttf");
}
