body {
  background-color: rgba(25, 5, 0, 1);
}

p {
    color: rgba(230, 255, 220, 1);
}

#logo {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    height: 40vh;
}

#CSHeading {
  position: absolute;
  font-size: 7vh;
  margin: 0;
  top: 25%;
  left: 50%;
  margin-right: -500%;
  transform: translate(-50%, -50%);
  font-family: 'knewave';

}

#linkbar{
  position: absolute;
  left: 50%;
  top: 78%;
  margin: 0;
  transform: translate(-50%, -50%);
}

.links{
  position: relative;
  padding: 20px;
  height: 8vh;
}




@font-face {
font-family: "knewave";
src: url("fonts/knewave-master/knewave.ttf");
}
